/*
Theme Name: My cool theme
Theme URI: https://bitbucket.org/indie_rok/yo
Description: A brief description.
Version: 1.9
Author: You
Author URI: www.emmanuelorozco.com
Bitbucket Theme URI: https://bitbucket.org/indie_rok/yo
*/

.breadcrumbs {
background:#f7f6ed;
padding:10px;
}
.breadcrumbs a {
/*También podemos utilizar uppercase*/
text-transform:capitalize;
color:#666;
font-weight:700;
}

.square-work p{
   margin: 15px 0px 30px 0px;
}